/* ----------------------------------------------------------------------------------
	RESPONSIVE LAYOUTS
---------------------------------------------------------------------------------- */

/* Desktop / Laptop */
@media only screen and (max-width: 960px) {
	.container {
		width: 100%;
	}
}
	
/* iPad & Tablet */
@media only screen and (max-width: 768px) {

	div[class*="column-"] {
		float: left;
		width: 100%;
		margin-right: 0;
		margin-left: 0;
		padding: 0 10px;
	}

	.portfolio-wrapper .blog-grid {
		top: auto;
		height: auto;
		margin-bottom: 20px;
	}

	.blog-thumb img {
		float: left;
		width: 100%;
		height: auto;
	}

	.portfolio-wrapper .blog-grid .category-mens-retreat .entry-header {
		background-color: #333;
		width: auto;
	}

	.title-banner {
		width: 100%;
	}

	.newsletter {
		float: left;
		background: #2b3155;
		height: auto;
	}

	.newsletter .textwidget {
		float: left;
		width: auto;
	}

	.newsletter p,
	.newsletter ul {
		font-size: 0.8em;
	}
	#mc_embed_signup label,
	#mc_embed_signup input.email,
	#mc_embed_signup input.button {
		float: left !important;
		width: 100% !important;
		margin-bottom: 10px;
	}

	/* Header */
	#pre-header {
		padding: 0 20px;
	}
	#pre-header-search {
		padding-right: 0;
	}
	#header {
		padding: 20px;
	}
	#logo {
		float: none;
		position: static;
		text-align: center;	
		margin: 10px 0;
	}
	#logo img,
	#logo h1 {
		margin: 0;
	}
	#header-links {
		display: none;
	}
	#header-responsive {
		display: block;
		width: 100%;
	}
	#header-responsive select {
		width: 100%;
		color: #FFF;
		background: #111;
		border: 1px solid #555;
		padding: 5px;
	}

	/* Intro / Outro */
	.action-text.action-teaser h3, 
	.attention_text h3 { 
		margin-top: 0px; 
	}

	/* Footer */

	/* Sidebar */

	/* Blog */

	/* Post */
	.commentlist .children .children .children { 
		margin: 0px; 
	}

	/* Portfolio */
	.hover-excerpt {
		display: none;
	}
	.da-thumbs li article h3 {
		padding: 0;
	}

	/* Project */

	/* Contact */

	/* Widgets */

}


/* Small Tablets & Larger Phones */
@media only screen and (max-width: 685px) {

	/* Main */
	#pre-header-links-inner,
	#breadcrumbs,
	#sidebar,
	#intro.option3 .page-teaser,
	#footer-menu,
	.meta-author	{
		display: none;
	}
	#main-core,
	#intro.option1, 
	#intro.option2 {
		margin-left: 0px;
	}
	#main {
		width: 100%;
	}
	#main-core, 
	#intro,
	.commentlist .children .children {
		margin: 0px;
	}
	#intro.option1 #intro-core {
		display: block;
		margin-left: 10px;
	}
	#pre-header-social ul {
		float: none;
	}
	.notification-text {
		display: block;
		margin-bottom: 5px;
	}

	/* Featured Slider */
	#slider .featured-excerpt {
		display: none;
	}

	/* Portfolio */

	/* Single Post Share */
	.commentlist .children .children {
		margin: 0px;
	}

	/* Intro / Outro */
	.action-text.three_fourth,
	.action-button.one_fourth.last {
		width:100%;
		float:none;
		margin-right:0px;
	}
	.action-button h4 {
		display:block;
		float: none;
		margin: 0px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}
	.action-text {
		padding-bottom: 15px;
	}
	.action-text > h3 {
		margin-top: 0px;
	}
	.action-text,
	.attention_text {
		text-align: center;
	}

	/* Widgets */
	.thinkup_widget_flickr .flickr-photo {
		width: auto !important;
		margin-right: 5px !important;
	}
}


/* iPhone (Landscape) */
@media only screen and (max-width: 568px) {

	/* Main */
	#notification-core .notification-text {
		display: block;
		margin-bottom: 5px;
	}

	/* Featured Slider */
	#slider .featured-title span {
		font-size: 20px;
	}
	#slider .featured-link a {
		padding: 3px 15px;
		margin: 0px;
	}

	/* Portfolio */
	section#options.nav-collapse {
		overflow: hidden;
		height: 0;
	}
	section#options.nav-collapse.collapse {
		-webkit-transition: height 0.35s ease;
		-moz-transition: height 0.35s ease;
		-ms-transition: height 0.35s ease;
		-o-transition: height 0.35s ease;
		transition: height 0.35s ease;
		position: relative;
		overflow: hidden;
		height: 0;
	}
	#filter.portfolio-filter {
		display: block;
		margin-left: 0;
	}
	.element.column-1 ,
	.element.column-2 ,
	.element.column-3 ,
	.element.column-4 {
		width: auto;
	}
	#filter.portfolio-filter li {
		display: block;
		margin-bottom: 2px;
	}
	#filter.portfolio-filter li a {
		width: 100%;
		padding: 5px 20px;
	}

	/* Single Post */
	#sharemessage {
		text-align: center;
		margin-bottom: 15px;
		padding: 0;
	}
	#shareicons {
		padding: 0;
	}
	#sharemessage,
	#shareicons {
		width: 100%;
		display: block;
		text-align: center;
	}
	#comments {
		margin-right: 0;
	}
	#nocomments {
		margin-left: 0;
	}
	
	/* Single Post Share */
	#author-image {
		display: none;
	}
	#author-text {
		margin: 0px;
	}
	#author-bio .author-description {
		padding-right: 50px;
	}
	span.post-title {
		display:none;
	}
	p.form-submit {
		margin-bottom: 0px;
	}
	#shareicons a {
		float: none;
		margin-left: 10px;
		margin-right: 10px;
	}
	#shareicons i {
		font-size: 24px;
	}
	.form-allowed-tags {
		display: none;
	}

	/* Intro / Outro */
	.action-text h3, .action-text p {
		margin-left: 0px;
		margin-right: 0px;
	}
	.action-button p {
		margin-left: 0px;
		margin-right: 0px;
	}

	/* Pre-Designed Homepage */
	#section-home .section1.one_third,
	#section-home .section2.one_third {
		margin-bottom: 60px;
	}

	/* Shortcode Content */
	.one_half,
	.one_third,
	.two_third,
	.one_fourth,
	.three_fourth,
	.one_fifth,
	.two_fifth,
	.three_fifth,
	.four_fifth,
	.one_sixth,
	.five_sixth {
		width:100%;
		float:none;
		margin-right:0px;
	}
	#footer .widget-area.one_half,
	#footer .widget-area.one_third,
	#footer .widget-area.two_third,
	#footer .widget-area.one_fourth,
	#footer .widget-area.three_fourth,
	#footer .widget-area.one_fifth,
	#footer .widget-area.two_fifth,
	#footer .widget-area.three_fifth,
	#footer .widget-area.four_fifth,
	#footer .widget-area.one_sixth,
	#footer .widget-area.five_sixth {
		width:100%;
		float:none;
		margin-right:0px;
	}
	.border {
		margin-left:10px;
		margin-right:10px;
	}

	.pricing-table.style1 span {
		text-align: center;
		padding-left: 0;
		padding-right: 0;
		background: none !important
	}
	.pricing-table.style2 .pricing-package {
		float: none;
		display: block;
		margin: 0 auto 20px;
		max-width: 100% !important;
		width: 100% !important;
	}
	.pricing-table.style2 .pricing-package.big {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	/* Bootstrap Menu */
	#header {
		padding-top: 10px;
	}

	#logo {
		float: none;
		text-align: center;
	}
	.btn-navbar {
		float: none;
	}
	
	/* Widgets */
	.thinkup_widget_categories li span {
		float: none;
		padding-left: 5px;
	}
}


/* iPhone (Portrait) */
@media only screen and (max-width: 320px) {

	#pre-header-search {
		display: none;
	}

	/* Blog */

	/* Single Post Share */
	.comment-meta {
		float: none;
		display: block;
	}
	#shareicons a {
		margin-left: 8px;
		margin-right: 8px;
	}
	.commentlist .children {
	margin: 0 0 0 25px;
	}

	/* Portfolio */

	/* Shortcodes */

}


/* Retina Display */
@media only screen and 
        (-webkit-min-device-pixel-ratio: 1.5), only screen and 
        (-o-min-device-pixel-ratio: 3/2), only screen and 
        (min-device-pixel-ratio: 1.5) {
}